:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.login{
    background-color: rgb(255, 255, 255);
    border: 1px solid darkgray;
    border-radius:0.5em ;
    padding: 1em;
    box-shadow: 0 0 2em 0.5em rgb(83, 83, 83);
    width: 200px;
    div{
        margin: 0.5em 0;
        label:not(:last-of-type){
            display: block;
        }
        input[types=text],input[type=password]{
            width: 100%;
            box-sizing: border-box;
            padding: 0.3em;
        }
        button{
            background: rgba(181, 0, 148, 0.982);
            color: white;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 0.3em;
            padding: 0.3em;
        }
button[disabled]{
    background-color: darkgray;
}
    }
}
.message{
    background-color: rgb(241, 150, 170);
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
}
 